$border-radius: 5px;
$padding: 10px;
$background-color: $white;
$font-size: 32px;

.search-bar {
	position: relative;

	&__field {
		background-color: $white;
		border-radius: $border-radius;
		padding: $padding;
		box-sizing: content-box;
		height: $font-size;
	}

	&__input {
		display: inline-block;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		height: 100%;
		margin: 0;
		text-indent: 0 !important;
		box-shadow: none !important;
		border: 0 none !important;
		background: none !important;
		-webkit-user-select: auto !important;
		&:focus { outline: none !important; }
	}

	&__field, &__input, &__label {
		font-size: $font-size;
		line-height: $font-size;
	}

	&__label {
		user-select: none;
	}

	&__suggestions {
		position: absolute;
		left: 0;
		right: 0;
		top: 99%;
		list-style: none;
		margin: 0;
		padding: 1% 0 0;
		background-color: $background-color;
		overflow-y: scroll;
		max-height: 500%;

		&__item {
			cursor: pointer;
			user-select: none;
			padding: $padding;

			&:hover {
				background-color: darken($background-color, 5);
			}

			.highlight {
				background-color: $color-primary;
				color: $white;
			}
		}
	}
}